body{
    font-family: 'Lato', sans-serif;
}
h1{
    text-align: center;
}
.a{
    text-align: center;
    font-weight: 500;
}
.b{
    display: block;
    text-align: center;
    font-weight: 500;
    color: black;
    
}
.c{
    text-align: center;
    font-weight: bold;
}